/*main*/

* {
	box-sizing: border-box;
}

body {
	font-family: 'PT Sans Caption', sans-serif;
}

h1 {font-size: 58px;}
h2 {font-size: 28px;}
h3 {font-size: 21px;}
h3 {font-size: 18px;}

/*intro&outro*/

#intro {
	background-position: center;
	background-image: url(../images/bg-top.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}

#introtext {
	text-align: left;
	font-style: inherit;
	color: white;
	padding: 230px 100px;
	line-height: 70px;
	width: 1060px;
	margin-top: -700px;
}

#game {
	margin-bottom: 80px;
	margin-top: 105px;
	margin-right: 100px;
	text-align: right;
}